// general
*,
*::after,
*::before {
  box-sizing: border-box;
}
$blueColor: rgb(59, 139, 234);
$pinkColor: rgb(178, 56, 79);
$grayColor: rgb(230, 227, 212);
$lightBluecolor: rgb(197, 218, 246);
$darkGrayColor: rgb(133, 145, 171);
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  background-color: $grayColor;
  font-family: "Roboto", sans-serif;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.justify-center {
  justify-content: center;
}
.justify-space-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.text-center {
  text-align: center;
}
.fs-40 {
  font-size: 40px;
}
.fs-28 {
  font-size: 28px;
}
.fs-32 {
  font-size: 32px;
}
.fs-24 {
  font-size: 24px;
}
.fs-20 {
  font-size: 20px;
}
.fs-16 {
  font-size: 16px;
}
.fs-14 {
  font-size: 14px;
}
.fs-18 {
  font-size: 18px;
}
.fs-12 {
  font-size: 12px;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.margin-1 {
  margin: 1rem;
}
.margin-1-0 {
  margin: 1rem 0;
}
.margin-0-1 {
  margin: 0 1rem;
}
.padding-1 {
  padding: 1rem;
}
.padding-1-0 {
  padding: 1rem 0;
}
.padding-0-1 {
  padding: 0 1rem;
}
.margin-5px {
  margin: 5px 0;
}
a {
  text-transform: capitalize;
  text-decoration: none;
}
.btn {
  display: inline-block;
  padding: 8px 12px;
  background-color: blueColor;
  color: whiteColor;
  border-radius: 6px;
  border: 3px solid rgb(59, 139, 234);
}
.text-cap {
  text-transform: capitalize;
}
button {
  cursor: pointer;
}
.padding-5px {
  padding: 5px;
}

.blue {
  color: $blueColor;
}
.pink {
  color: $pinkColor;
}
.gray {
  color: $grayColor;
}
.darkGray {
  color: $darkGrayColor;
}
.lightBlueColor {
  color: $lightBluecolor;
}

.btn {
  background-color: $lightBluecolor;
  padding: 1rem 1.5rem;
}
.box {
  width: 300px;
  padding: 2rem;
  border-radius: 6px;
  position: relative;
  border: 2px solid $darkGrayColor;
  background-color: $lightBluecolor;
  margin: 1rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.cross {
  position: absolute;
  top: -19px;
  right: -13px;
  background-color: rgb(133, 145, 171, 0);
  border-radius: 4px;
  border: none;
}
.start {
  width: 100px;
  background-color: $darkGrayColor;
  border-radius: 4px;
  border: none;
}
.arrow {
  background-color: $darkGrayColor;
  color: $lightBluecolor;
  border: none;
  border-radius: 3px;
  padding: 6px 12px;
  margin: 0 3px;
}
.start-count {
  margin-top: 6px;
}
